.flex {
    display: flex;
}

.wrap {
    background-color: #FAFAFA;
    height: 100%;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

li, ol, ul, dd, dl {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


img {
    vertical-align: top;
}

:root {
    --main-color1: #255EEE;
    --sub-color1: #87A9FF;
    --sub-color2: #D2DFFF;
    --sub-color3: #ECEFF8;
    --text-color: #1d1d1d;
    --text-color2:#D0D0D0;
    --text-color3:#F5F5F0;
}

/*λ°μ¤νΈνƒ‘*/
@media(min-width: 767px) {
    .ham-menu {
        display: none;
    }

    header {
        width: 100%;
        min-width: 1200px;
        height: 80px;
        justify-content: space-between;
        padding: 0 80px;
        align-items: center;
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    header .logout {
        display: none;
    }

    header h1 {
        width: 170px;
    }

    header .hamburger {
        display: none;
    }

    header h1 a {
        display: flex;
        height: 100%;
        align-items: center;
    }

    header h1 a img {
        width: 100%;
    }

    header .menu {
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 50px;
        align-items: center;
        border-radius: 50px;
        gap: 50px;
        padding: 20px;
        min-width: 548px;

    }

    header ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 10px;
        text-align: center;
        font-size: 16px;
    }

    header .login,
    header .logout {
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 50px;
        align-items: center;
        border-radius: 50px;
        gap: 50px;
        padding: 20px;
        min-width: 186px;
    }




    /* --------footer----------- */
    footer {
        width: 100%;
        height: 250px;
        background-color: #D9D9D9;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
    }

    footer p {
        margin: 20px 0;
    }

    footer .footer-logo {
        width: 300px;
    }

    footer .footer-logo img {
        width: 100%;
    }



    .hi {
        height: 200px;
        text-align: center;
    }

    .header_box{
        width: 65%;
        height: 60px;
        margin: 100px auto 0 auto;
        /* border: 1px solid red; */
    }

    .header_box_left {
        margin-top: -10px;
        display: inline-block;
        width: 10%;
        text-align: center;
        /* border: 1px solid red; */
    }
    .header_box_left > img {
        margin-top: -20px;
        height: 50px;
    }

    .header_box_mid {
        display: inline-block;
        /* border: 1px solid red; */
        font-size: 40px;
        font-weight: 700;
    }

    .header_box_right {
        margin-top: -10px;
        display: inline-block;
        width: 10%;
        text-align: center;
        /* border: 1px solid red; */
    }
    .header_box_right > img {
        margin-top: -25px;
        height: 60px;
    }

    .section {
        text-align: center;
    }

    .section_upper {
        /* border: 1px solid red; */
        margin: 0 auto;
        width: 65%;
        overflow: hidden;
    }

    .section_upper_left {
        font-size: 30px;
        font-weight: 700;
        float: left;
        width: 20%;
        letter-spacing: 2px;
    }
    .section_upper_right {
        float: left;
        width: 80%;
        height: 44px;
        border: 1px solid var(--text-color2);
        border-radius: 15px;
        padding: 5px;
        overflow: hidden;
    }

    .search_box {
        float: left;
        line-height: 35px;
        font-size: 20px;
        width: 90%;
        border: none;
        margin-left: 10px;
    }

    .searchBtn {
        float: right;
    }

    .section_under {
        margin: 0 auto;
        width: 70%;
        overflow: hidden;
    }

    .question {
        margin-top: 20px;
        background-color: var(--sub-color3);
        border-radius: 15px;
        overflow: hidden;
        font-size: 20px;
    }

    .li_title {
        width: 100%;
        overflow: hidden;
    }

    .question_title_box {
        display: inline-block;
        margin: 10px;
        width: 60%;
        font-size: 18px;
        overflow: hidden;
        background-color: #FFFFFF;
        /* border: 1px solid red; */
        border-radius: 15px;
        cursor: pointer;
    }

    .question_title {
        float: left;
        background-color: #FFFFFF;
        width: 75%;
        text-align: left;
        /* border: 1px solid yellow; */
        line-height: 44px;
        padding: 5px;
        padding-left: 10px;
    }

    .question_date {
        float: left;
        background-color: #FFFFFF;
        width: 25%;
        font-size: 15px;
        color: var(--text-color2);
        line-height: 44px;
        /* border: 1px solid green; */
    }

    .question_isanswered {
        float: right;
        margin: 10px;
        width: 10%;
        height: 44px;
        line-height: 44px;
        /* border: 1px solid cadetblue; */
        text-align: center;
        font-size: 18px;
    }
    .question_isanswered_date {
        float: right;
        margin: 10px;
        width: 10%;
        height: 44px;
        line-height: 44px;
        font-size: 15px;
        color: var(--text-color2);
        /* border: 1px solid cadetblue; */
        text-align: center;
    }

    .question_content {
        margin: 10px;
        float: left;
        background-color: #FFFFFF;
        width: 60%;
        text-align: left;
        font-size: 18px;
        border-radius: 15px;
        padding: 10px;
        padding-left: 10px;
        
    }

    .question_answer_box {
        margin: 10px;
        float: right;
        background-color: #FFFFFF;
        width: 60%;
        overflow: hidden;
        border-radius: 15px;
        padding: 5px;
    }

    .question_answer_content {
        float: left;
        background-color: #FFFFFF;
        text-align: left;
        font-size: 18px;
        padding: 5px;
        padding-left: 10px;
        /* border: 1px solid red; */
    }

    .question_answer_date {
        float: right;
        background-color: #FFFFFF;
        width: 20%;
        font-size: 15px;
        color: var(--text-color2);
        padding: 5px;
        /* border: 1px solid red; */
    }

    .questionBtn {
        float: right;
        width: 130px;
        height: 50px;
        font-size: 20px;
        color: var(--text-color3);
        background-color: var(--main-color1);
        border-radius: 15px;
        border: none;
        margin-top: 25px;
    }

    .question_pagenation{
        margin-top: 60px;
        text-align: center;
        margin-bottom: 35px;
    }

    .question_pagenation > p {
        display: inline-block;
        font-size: 25px;
        margin: 10px;
        border: 1px solid var(--text-color2);
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .question_pagenation > p > a {
        text-decoration: none;
        cursor: pointer;
    }

    .in {
        display: none;
    }





}

@media(max-width: 766px) {
    header {
        width: 100%;
        height: 65px;
        justify-content: space-between;
        padding: 0 30px;
        align-items: center;
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

    }

    header .logout {
        display: none;
    }

    header h1 {
        width: 130px;
    }

    header .hamburger {
        display: block;
        background-color: var(--main-color1);
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    header .hamburger span {
        width: 23px;
        height: 1px;
        background-color: #fff;
        margin: 3px 0;
        display: block;
        transition: .4s;
    }

    header .hamburger span.on:nth-child(2) {
        display: none;
    }

    header .hamburger span.on:nth-child(1) {
        transform: rotate(45deg) translate(2px, 2px);
    }

    header .hamburger span.on:nth-child(3) {
        transform: rotate(-45deg) translate(2px, -3px);
    }

    header h1 a {
        display: flex;
        height: 100%;
        align-items: center;
    }

    header h1 a img {
        width: 100%;
    }

    header .menu {
        display: none;
    }


    header .login,
    header .logout {
        display: none;
    }

    .ham-menu {
        position: fixed;
        top: 65px;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: .4s;

    }

    /*.ham-menu ul {*/
    /*  width: 100%;*/
    /*  max-width: 400px;*/
    /*  margin: 10px auto;*/
    /*}*/

    .ham-menu.on {
        right: 0;
    }

    .ham-menu .menu-list {
        width: 85%;
        margin: auto;
        margin-top: 50px;
    }

    .ham-menu .menu-list li {
        border-bottom: 1px solid #d7d7d7;
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .ham-menu .ham-logout {
        display: none;
    }

    .ham-menu .ham-logout,
    .ham-login {
        width: 85%;
        margin: 5cqb auto;
    }

    .ham-menu .ham-logout li,
    .ham-login li {
        margin: 10px 0;
    }




    /* --------footer----------- */
    footer {
        width: 100%;
        background-color: #D9D9D9;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;
        flex-direction: column;
    }

    footer p {
        margin: 20px 0;
        font-size: 14px;
    }

    footer .footer-logo {
        width: 100%
    }

    footer .footer-logo img {
        width: 250px;
    }





.hi {
        height: 100px;
        text-align: center;
    }

    .header_box{
        width: 90%;
        height: 60px;
        margin: 100px auto 0 auto;
        /* border: 1px solid red; */
    }

    .header_box_left {
        margin-top: -10px;
        display: inline-block;
        width: 10%;
        text-align: center;
        /* border: 1px solid red; */
    }
    .header_box_left > img {
        margin-top: -20px;
        height: 30px;
    }

    .header_box_mid {
        display: inline-block;
        /* border: 1px solid red; */
        font-size: 20px;
        font-weight: 700;
    }

    .header_box_right {
        margin-top: -10px;
        display: inline-block;
        width: 10%;
        text-align: center;
        /* border: 1px solid red; */
    }
    .header_box_right > img {
        margin-top: -25px;
        height: 35px;
    }

    .section {
        text-align: center;
    }

    .section_upper {
        /* border: 1px solid red; */
        margin: 0 auto;
        width: 94%;
        overflow: hidden;
    }

    .section_upper_left {
        font-size: 15px;
        font-weight: 600;
        float: left;
        width: 20%;
        height: 100%;
        letter-spacing: 2px;
        line-height: 40px;
    }
    .section_upper_right {
        float: left;
        width: 80%;
        height: 40px;
        border: 1px solid var(--text-color2);
        border-radius: 15px;
        padding: 5px;
        overflow: hidden;
    }


    .search_box {
        float: left;
        line-height: 32px;
        font-size: 15px;
        width: 80%;
        border: none;
        margin-left: 10px;
    }

    .searchBtn {
        float: right;
    }

    .section_under {
        margin: 0 auto;
        width: 94%;
        overflow: hidden;
    }

    .question {
        margin-top: 20px;
        background-color: var(--sub-color3);
        border-radius: 15px;
        overflow: hidden;
        font-size: 20px;
    }

    .li_title {
        width: 100%;
        overflow: hidden;
    }

    .question_title_box {
        display: inline-block;
        margin: 10px;
        width: 60%;
        font-size: 18px;
        overflow: hidden;
        background-color: #FFFFFF;
        /* border: 1px solid red; */
        border-radius: 15px;
        cursor: pointer;
    }

    .question_title {
        float: left;
        background-color: #FFFFFF;
        width: 80%;
        text-align: left;
        /* border: 1px solid yellow; */
        padding: 10px;
        font-size: 15px;
    }

    .question_date {
        float: left;
        background-color: #FFFFFF;
        /* width: 50%; */
        padding-left: 10px;
        font-size: 10px;
        color: var(--text-color1);
        /* border: 1px solid green; */
    }

    .question_isanswered {
        float: right;
        margin-top: 2em;
        margin-right: 1em;
        width: 10%;
        /* height: 44px;
        line-height: 44px; */
        /* border: 1px solid cadetblue; */
        text-align: center;
        font-size: 14px;

    }
    .question_isanswered_date {
        float: right;
        margin-top: 3em;
        margin-right: 2em;
        /* width: 10%; */
        height: 21px;
        line-height: 21px;
        font-size: 8px;
        color: var(--text-color1);
        /* border: 1px solid cadetblue; */
        text-align: center;
    }

    .question_content {
        margin: 10px;
        float: left;
        background-color: #FFFFFF;
        width: 60%;
        text-align: left;
        font-size: 15px;
        border-radius: 15px;
        padding: 10px;
        padding-left: 10px;
        
    }

    .question_answer_box {
        margin: 10px;
        float: right;
        background-color: #FFFFFF;
        width: 60%;
        overflow: hidden;
        border-radius: 15px;
        padding: 5px;

    }

    .question_answer_content {
        float: right;
        background-color: #FFFFFF;
        text-align: left;
        font-size: 15px;
        padding: 5px;
        padding-left: 10px;
        /* border: 1px solid red; */
    }

    .question_answer_date {
        float: right;
        background-color: #FFFFFF;
        /* width: 50%; */
        font-size: 10px;
        color: var(--text-color1);
        padding: 5px;
        /* border: 1px solid red; */
    }

    .questionBtn {
        float: right;
        width: 100px;
        height: 40px;
        font-size: 15px;
        color: var(--text-color3);
        background-color: var(--main-color1);
        border-radius: 15px;
        border: none;
    }

    .question_pagenation{
        margin-top: 70px;
        text-align: center;
    }

    .question_pagenation > p {
        display: inline-block;
        font-size: 15px;
        margin: 10px;
        border: 1px solid var(--text-color2);
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .question_pagenation > p > a {
        text-decoration: none;
        cursor: pointer;
    }

    .in {
        display: none;
    }
}