
body {
    padding-top: 200px; /* 헤더 높이만큼 body에 padding-top 추가 */
}

.flex {
    display: flex;
}

.wrap {
    background-color: #FAFAFA;
    height: 100%;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

li, ol, ul, dd, dl {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


img {
    vertical-align: top;
}

:root {
    --main-color1: #255EEE;
    --sub-color1: #87A9FF;
    --sub-color2: #D2DFFF;
    --text-color: #1d1d1d;
    --text-color2:#D0D0D0;
    --text-color3:#F5F5F0;
}

/*데스크탑*/
@media(min-width: 767px) {

    .ham-menu {
        display: none;
    }

    header {
        width: 100%;
        min-width: 1200px;
        height: 80px;
        justify-content: space-between;
        padding: 0 80px;
        align-items: center;
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.3);
        position: static;
        top: 0;
        left: 0;
        z-index: 999;
    }

    header .logout {
        display: none;
    }

    header h1 {
        width: 170px;
    }

    header .hamburger {
        display: none;
    }

    header h1 a {
        display: flex;
        height: 100%;
        align-items: center;
    }

    header h1 a img {
        width: 100%;
    }

    header .menu {
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 50px;
        align-items: center;
        border-radius: 50px;
        gap: 50px;
        padding: 20px;
        min-width: 548px;

    }

    header ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 10px;
        text-align: center;
        font-size: 16px;
    }

    header .login,
    header .logout {
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 50px;
        align-items: center;
        border-radius: 50px;
        gap: 50px;
        padding: 20px;
        min-width: 186px;
    }




    /* --------footer----------- */
    footer {
        width: 100%;
        height: 250px;
        background-color: #D9D9D9;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
    }

    footer p {
        margin: 20px 0;
    }

    footer .footer-logo {
        width: 300px;
    }

    footer .footer-logo img {
        width: 100%;
    }


    .imgbox { 
        background-image: url("/image/Rectangle180.png");
        text-align: center;
        height: 500px;
        z-index: auto;
    }
    
    .imgbox > .imgbox_title { 
        margin: 0 auto; 
        color: var(--text-color3);
    }
    
    .imgbox_inner {
        display: inline-block;
        margin-top: 200px;
    }
    
    .imgbox > .imgbox_title > .imgbox_inner > .oneToOneQna {
        font-size: 15px; 
        color: var(--text-color3);
    }
    
    .imgbox > .imgbox_title > .imgbox_inner > .title_Board {
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 2px;
        color: var(--text-color3);
    }
    
    .qna_write_page {

        position: relative;
        text-align: center;

    }

    .write_pagebox {
        display: flex;          /* flexbox 사용 */
        flex-direction: column;   /* 내용물을 세로로 배치 */
        justify-content: center;  /* 세로 방향 가운데 정렬 */
        align-items: center;      /* 가로 방향 가운데 정렬 */
        margin: 0 auto;          /* 좌우 마진을 auto로 설정하여 가로 중앙 정렬 */
        position: relative;      /* position 속성 제거 또는 relative 유지 */
        top: 200px;                /* top 위치 초기화 */
        left: 0;               /* left 위치 초기화 */
        width: 70%;             /* 원하는 너비 설정 */
        text-align: center;
    }


    .qna_write_page_inner {
        background-color: #FFFFFF;
        margin: 0 auto;
        padding: 70px;
        width: 80%;
        border: 1px solid var(--text-color2);
        border-radius: 3%;
    }
    
    .qna_write_page_inner_title {
        font-weight: 900;
        margin-top: 50px;
        margin-bottom: 40px;
        color: var(--text-color);
        font-size: 35px;
        padding: 5px;
    }
    
    .qna_write_page_inner_mid {
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid var(--text-color);
        margin: 10px;
        padding: 10px;
    }
    
    .qna_write_page_inner_mid > .leftbox {
        float: left; font-size: 25px; font-weight: 700;
    }
    
    .qna_write_page_inner_mid > .rightbox {
        float: right; font-size: 10px; opacity: 50%; margin-top: 15px;
    }
    
    .qna_write_page_inner_form {
        width: 100%;
        color: var(--text-color);
        padding: 10px;
        position: relative;
    }
    
    .formUpper {
        width: 100%;
        margin-bottom: 20px;
    }

    .qnaTitleWrap {
        width: 19%;
        float: left;
    }

    .qnaTitle {
        width: 80%;
        height: 35px;
        margin: 0 auto;
        border-radius: 5px;
        font-size: 15px;
        border: 1px solid var(--text-color2);
    }


    .formMid {
        width: 100%;
        overflow: hidden;
    }

    .qnaContentWrap {
        /* position: absolute;
        top: 85px;
        left: 20px; */
        width: 19%;
        float: left;
    }

    .qnaContent {
        float: right;
        width: 80%;
        height: 300px;
        margin: 5px;
        /* margin-left: 2px; */
        resize: none;
        white-space: pre-line;
        border-radius: 5px;
        border: 1px solid var(--text-color2);
        
    }
  
    .qna_submit_btn {
        margin: 10px auto;
        width: 120px; 
        height: 30px;
        background-color: var(--main-color1);
        color: var(--text-color3);
        font-size: 18px;
        border: none;
        border-radius: 10px;
    }
    
    .pilsoo {color: var(--main-color1);}
}


@media(max-width: 767px) {



    .imgbox { 
        background-image: url("../../../templates/image/Rectangle180.png");
        text-align: center;
        height: 300px;
        background-repeat: no-repeat;
    }

    .imgbox > .imgbox_title { 
        margin: 0 auto; 
        color: var(--text-color3);
    }

    .imgbox_inner {
        display: inline-block;
        margin-top: 100px;
    }

    .imgbox > .imgbox_title > .imgbox_inner > .oneToOneQna {
        font-size: 15px; 
        color: var(--text-color3);
    }

    .imgbox > .imgbox_title > .imgbox_inner > .title_Board {
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 2px;
        color: var(--text-color3);
    }

    .qna_write_page {
        
        position: relative;
        text-align: center;

    }

    .write_pagebox {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        top: -200px;
        left: 5%;
        width: 90%;
        text-align: center;
        
    }

    .qna_write_page_inner {
        background-color: #FFFFFF;
        margin: 0 auto;
        padding: 20px;
        width: 95%;
        border: 1px solid var(--text-color2);
        border-radius: 3%;
    }

    .qna_write_page_inner_title {
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 10px;
        color: var(--text-color);
        font-size: 35px;
        padding: 5px;
    }

    .qna_write_page_inner_mid {
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid var(--text-color);
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .qna_write_page_inner_mid > .leftbox {
        float: left; font-size: 25px; font-weight: 700; width: 100%;
    }

    .qna_write_page_inner_mid > .rightbox {
        float: left; font-size: 10px; opacity: 50%; margin-top: 15px; width: 100%;
    }

    .qna_write_page_inner_form {
        width: 100%;
        color: var(--text-color);
        padding: 10px;
        text-align: left;
    }
    .qnaTitle {
        width: 100%;
        margin: 20px auto;
        border-radius: 5px;
        border: 1px solid var(--text-color2);
    }

    .qnaContentWrap {
        
        width: 95%;
        display: inline-block;
    }

    .qnaContent {
        border-radius: 5px;
        width: 100%;
        height: 300px;
        margin: 20px auto;
        margin-left: 2px;
        resize: none;
        white-space: pre-line;
        border: 1px solid var(--text-color2);
    }

    .qna_submit_btn {
        margin: 10px auto 10px auto;
        width: 100px; 
        height: 30px;
        background-color: var(--main-color1);
        color: var(--text-color3);
        font-size: 16px;
        border: none;
        border-radius: 10px;
        margin-left: 40%;
        margin-right: 40%;
    }

    .pilsoo {color: var(--main-color1);}

}